# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# --- CMake & Ninja Specific ---
build/           # 빌드 결과물 전체 
**/build/
build/
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
install/

# Verilator 및 시뮬레이션 결과물 (obj_dir은 Verilator의 기본 빌드 폴더)
obj_dir/
*.vcd
*.log


# 파이썬 실행 시 생성되는 캐시 폴더
__pycache__/
.pytest_cache/
*.pyc


# VS Code 개인 설정 (협업 시 각자의 설정이 꼬이지 않게 함)
.vscode/
# 가상환경 폴더
.venv/
venv/

# === OS 관련 임시 파일 ===
.DS_Store
Thumbs.db